
# Задание 1

## Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
 - оценка 2 и меньше - низкий рейтинг
 - оценка 4 и меньше - средний рейтинг
 - оценка 4.5 и 5 - высокий рейтинг
 Результат классификации запишите в столбец class

In [16]:
import pandas as pd
rate = pd.read_csv('ratings.csv')

class_rate = {2 : 'низкий рейтинг', 
              4 : 'средний рейтинг',
              5 : 'высокий рейтинг'}

def def_rate(row):
    for key, value in class_rate.items():
        if row['rating'] <= key:
            return value
        
rate['class'] = rate.apply(def_rate, axis = 1)
rate.tail(20)

        userId  movieId  rating   timestamp            class
99984      671     5010     2.0  1066793004   низкий рейтинг
99985      671     5218     2.0  1065111990   низкий рейтинг
99986      671     5299     3.0  1065112004  средний рейтинг
99987      671     5349     4.0  1065111863  средний рейтинг
99988      671     5377     4.0  1064245557  средний рейтинг
99989      671     5445     4.5  1064891627  высокий рейтинг
99990      671     5464     3.0  1064891549  средний рейтинг
99991      671     5669     4.0  1063502711  средний рейтинг
99992      671     5816     4.0  1065111963  средний рейтинг
99993      671     5902     3.5  1064245507  средний рейтинг
99994      671     5952     5.0  1063502716  высокий рейтинг
99995      671     5989     4.0  1064890625  средний рейтинг
99996      671     5991     4.5  1064245387  высокий рейтинг
99997      671     5995     4.0  1066793014  средний рейтинг
99998      671     6212     2.5  1065149436  средний рейтинг
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

# Задание 2

## Используем файл keywords.csv.
## Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую  принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона,то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.Результат классификации запишите в отдельный столбец region.

In [17]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

import pandas as pd
keywords = pd.read_csv('keywords.csv')

def region_name(row):
    for key, value in geo_data.items():
        for i in value:
            if i in row['keyword']:
                return key
    return 'undefined'

keywords['region'] = keywords.apply(region_name, axis = 1)
keywords[(keywords['region'] != 'undefined')].head(5)

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток